@import '../../global.scss';

.headerWrapper {
    padding: 0 150px;
    background-color: #22543D;

    .header {
        color: white;
        padding: 35px 0;
        display: flex;
        justify-content: space-between;

        .logoWrapper {
            max-height: 150px;
            flex: 1;

            .logo-area {
                display: flex;
                align-items: center;
                height: 100%;

                .logo {
                    margin-right: 30px;
                    object-fit: contain;
                    height: 100%;

                    @media (max-width: 768px) {
                        height: 50px;  // Adjust the height for mobile view
                        margin-right: 15px;
                    }
                }

                .website-name {
                    font-size: 40px;
                    font-weight: bold;

                    @media (max-width: 1024px) and (min-width: 768px) {
                        font-size: 36px;
                    }

                    @media (max-width: 768px) {
                        font-size: 32px;
                    }
                }
            }

            @media (max-width: 768px) {
                max-height: 80px;  // Adjust the max-height for mobile view
            }
        }

        .linksWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1.1;

            .nav-links {
                font-size: 16px;
                font-weight: bolder;
                display: flex;
                justify-content: flex-end;

                a {
                    color: white;
                    margin: 0 15px;
                    text-decoration: none;
                }

                @media (max-width: 1024px) and (min-width: 768px) {
                    font-size: 14px;
                }

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }

            .login-signup {
                font-weight: bolder;
                display: flex;
                justify-content: flex-end;

                a {
                    padding-right: 15px;
                    color: white;
                    text-decoration: none;
                }
            }

            @media (max-width: 768px) {
                align-items: center;
                gap: 15px
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 15px
        }
    }

    @media (max-width: 1024px) and (min-width: 768px) {
        padding: 0 50px;
    }

    @media (max-width: 768px) {
        padding: 0 20px;
    }
}


