.container {
    margin-bottom: 10px;
}
.form-box-container {
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    background-color: #196357;
    border-radius: 10px;
    color: white;

    @media (max-width: 992px) {
        width: 90%;
    }

    @media (max-width: 768px) {
        width: 95%;
        padding: 20px;
    }

    .form-box-heading {
        text-align: center;
        font-size: 1.5rem;
        color: white;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .btn-primary {
        font-weight: bold;
    }
}
